*.deb
*.dll
*.changes
/documentserver
/documentserver-example
repo
repo-rpm
apt-rpm/builddir
/apt-rpm/*documentserver*.spec
rpm/builddir
common/documentserver*/**/*.conf
common/documentserver*/nginx/*.tmpl
/common/documentserver/bin/*.sh
common/documentserver/config
common/documentserver/home
common/documentserver-example/config
common/documentserver-example/home
common/fonts
/deb/debian/changelog
/deb/debian/config
/deb/debian/control
/deb/debian/copyright
/deb/debian/*-documentserver*/
/deb/debian/*.debhelper*
/deb/debian/*.substvars
/deb/debian/*.install
/deb/debian/*.links
/deb/debian/files
/deb/debian/postinst
/deb/debian/postrm
/exe/*documentserver*.iss
/pgsql
/rpm/*documentserver*.spec
*rpm/bin/*.sh
.gitignore
