deb/*.deb
deb/*.changes
documentserver
documentserver-example
repo
repo-rpm
apt-rpm/builddir
rpm/builddir
onlyoffice
common/documentserver/config
common/documentserver/home
common/documentserver-example/config
common/documentserver-example/home
common/fonts
deb/onlyoffice-documentserver*/debian/onlyoffice-documentserver*/
deb/onlyoffice-documentserver*/debian/onlyoffice-documentserver*.debhelper*
deb/onlyoffice-documentserver*/debian/onlyoffice-documentserver*.substvars
deb/onlyoffice-documentserver*/debian/files