*.dll
/documentserver
/documentserver-example
repo
repo-rpm
apt-rpm/builddir
/apt-rpm/*documentserver*.spec
rpm/builddir
common/documentserver*/**/*.conf
common/documentserver*/nginx/*.tmpl
/common/documentserver/bin/*.sh
common/documentserver/config
common/documentserver/home
common/documentserver-example/config
common/documentserver-example/home
common/fonts
/deb/build/
/deb/*.buildinfo
/deb/*.changes
/deb/*.ddeb
/deb/*.deb
/exe/*documentserver*.iss
/pgsql
/rpm/*documentserver*.spec
*rpm/bin/*.sh
.gitignore
